*{
  margin: 0;
  padding: 0;
}
/* color schemes */
.c_primary{
  color: #41E0FD !important;
}

.c_secondary{
  color: #F16D4E !important;
}

.c_dark{
  color: #1A1A1A !important;
}

.c_darker{
  color: #1F1F1F !important;
}

.c_light{
  color: #FCFCFC !important;
}

.bg_primary{
  background-color: #41E0FD !important;
}

.bg_secondary{
  background-color: #F16D4E !important;
}

.bg_dark{
  background-color: #1A1A1A !important;
}

.bg_darker{
  background-color: #1F1F1F !important;
}

.bg_light{
  background-color: #FCFCFC !important;
}

/* flex types */
.d-flex-center{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.d_flex_left{
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
}

.d_flex_right{
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}

.d_flex_evenly{
  display: flex !important;
  align-items: center !important;
  justify-content: space-evenly !important;
}

.d_flex_between{
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.d_flex_around{
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
}